<div class="text-center home-page">

	<h1 class="large-text"><em>Оптика 5 звезд!</em></h1>

	<p class="lead">
		<em>Автоматизированная точка продаж.</em>
	</p>
			<!--br/>
			<div style="width:300px; margin:auto">
			<form action="" method="post">
					<div class="input-group">
						<div class="input-group-addon">..Логин</div>
						<input class="form-control input-lg ng-pristine ng-valid-min ng-invalid ng-invalid-required ng-touched" type="text" name="fLogin" value="" />
					</div>
					<br/>
					<div class="input-group">
						<div class="input-group-addon">Пароль</div>
						<input class="form-control input-lg ng-pristine ng-valid-min ng-invalid ng-invalid-required ng-touched" type="password" name="fPassword" value="" />
					</div>
					<br/>
					<div>
						<input class="btn btn-primary" type="submit" value="OK" />
					</div>
					<div>
						<a href="index.php">Забыли пароль?</a>
					</div>
			</form>
			</div>
		<br/-->
<div class="text-center ng-scope">
		<div class="container">

		<div class="col-md-5">
			<a href="#/inventory" class="btn btn-info btn-block">
				<h2>Номенклатура</h2>
			</a>
		</div>

		<span class="col-md-1"></span>

		<div class="col-md-5">
			<a href="#/pos" class="btn btn-info btn-block" onclick="window.location.reload();">
				<h2>Касса-POS</h2>
			</a>
		</div>

	</div>

	<br><br>

	<div class="container">

		<div class="col-md-5">
			<a href="#/transactions" class="btn btn-info btn-block">
				<h2>Чеки</h2>
			</a>
		</div>

		<!--span class="col-md-1"></span>

		<div class="col-md-5">
			<a href="#/live-cart" class="btn btn-info btn-block">
				<h2>Корзина|Покупатели</h2>
			</a>
		</div-->

	</div>

</div>
